<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782181631788-5froil74ubhe480pmpui1pe687mn40nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782181631788-5froil74ubhe480pmpui1pe687mn40nq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>782181631788-07u2u3g847bfu7if214ae92nduobv00h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDksiAwOQ8YldIlw3heoBN322MllesZPBg</string>
	<key>GCM_SENDER_ID</key>
	<string>782181631788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zealopia.zealopia2</string>
	<key>PROJECT_ID</key>
	<string>zeal2-3435c</string>
	<key>STORAGE_BUCKET</key>
	<string>zeal2-3435c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782181631788:ios:4f0f8c9f9860e20ae74e89</string>
</dict>
</plist>